---
import Mail from "@lucide/astro/icons/mail";
import Github from "@lucide/astro/icons/github";
import MessageCircle from "@lucide/astro/icons/message-circle";
import Linkedin from "@lucide/astro/icons/linkedin";

type Option = { key:string; value:string }

interface Props {
    status: Option 
    id:string;
    email_label?: Option ;
    email_url?: Option ;
    github_label?: Option ;
    github_url?: Option ;
    x_label?: Option ;
    x_url?: Option ;
    linkedin_label?: Option ;
    linkedin_url?: Option;
}

const { status, email_label, email_url, github_label, github_url, x_label, x_url, linkedin_label, linkedin_url, id } = Astro.props as Props
---

<footer
    id={id}
    class="my-24 border-t pt-8 text-sm grid grid-cols-1 gap-3 place-items-center"
>
    <div>
        <span
            class="inline-block w-2 h-2 rounded-full bg-green-500 mr-2 animate-pulse"
        ></span>
        <span class="opacity-70 uppercase">{status.value}</span>
        <span
            class="inline-block w-2 h-2 rounded-full bg-green-500 ml-2 animate-pulse"
        ></span>
    </div>
    <div class="flex gap-4 [&_a]:opacity-70 [&_a]:hover:opacity-100 [&_a]:transition-colors [&_a]:duration-200">
        {email_url && email_label && (
            <a href={`mailto:${email_url.value}`} class="flex items-center gap-1.5">
                <Mail class="w-3.5 h-3.5" />
                {email_label.value}
            </a>
        )}
        
        {github_url && github_label && (
            <a href={github_url.value} rel="nofollow" class="flex items-center gap-1.5">
                <Github class="w-3.5 h-3.5" />
                {github_label.value}
            </a>
        )}

        {x_url && x_label && (
            <a href={x_url.value} rel="nofollow" class="flex items-center gap-1.5">
                <MessageCircle class="w-3.5 h-3.5" />
                {x_label.value}
            </a>
        )}

        {linkedin_url && linkedin_label && (
            <a href={linkedin_url.value} rel="nofollow" class="flex items-center gap-1.5">
                <Linkedin class="w-3.5 h-3.5" />
                {linkedin_label.value}
            </a>
        )}
    </div>
</footer>